<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div th:replace="overlay"></div>
<h2>USER</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${userForm}">
        <td th:text="${userForm.getFirstName()}">Name</td>
        <td th:text="${userForm.getLastName()}">Last Name</td>
        <td th:text="${userForm.getAge()}">Age</td>
        <td th:text="${userForm.getEmail()}">Email</td>
    </tr>
    </tbody>
</table>
<br><br>
<div th:replace="logout-button"></div>
</body>
</html>